---
import Intro from "~/components/intro.astro";
import Tecnologia from "~/components/tecnologia.astro";
import Proceso from "~/components/Proceso.astro";
import Precio from "~/components/Precio.astro";
import Contacto from "~/components/contacto.astro";
import Compatibility from "~/components/compatibility.astro";
import Showcase from "~/components/showcase.astro";

import BaseLanding from "~/layouts/BaseLanding.astro";
---

<BaseLanding>
  <Intro />
  <Tecnologia />
  <Proceso />
  <Precio />
  <Contacto />
  <Compatibility />
  <Showcase />
</BaseLanding>
