---
import { register_user, RegisterAnswerEnum } from "~/external_api/register.ts";

function isValidEmail(email: string) {
  return true; //FIXME
}

function isRegistered(email: string) {
  return false; //FIXME
}

const errors = { email: "", password: "", message: "" };
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email")?.toString();
    const password = data.get("password")?.toString();

    if (typeof email !== "string" || !isValidEmail(email)) {
      errors.email += "Email is not valid. ";
    } else if (await isRegistered(email)) {
      errors.email += "Email is already registered. ";
    }

    if (typeof password !== "string" || password.length < 1) {
      errors.password += "Password must be at least 6 characters. ";
    }
    const hasErrors = Object.values(errors).some((msg) => msg);

    const URL = import.meta.env.PUBLIC_API_BACKEND + "/auth/register";
    console.log(URL);

    if (!hasErrors) {
      const resp = await register_user(email!, password!);
      if (resp.status == RegisterAnswerEnum.OK) {
        // Print user OK
        return Astro.redirect("/api/auth/signin");
      }

      errors.message += resp.message;
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<h1>Register</h1>
{import.meta.env.PUBLIC_API_BACKEND}
<form method="POST">
  <label>
    Email:
    <input type="email" name="email" required />
  </label>
  {errors.email && <p>{errors.email}</p>}
  <label>
    Password:
    <input type="password" name="password" required minlength="1" />
  </label>
  {errors.password && <p>{errors.password}</p>}
  <button>Register</button>
  {errors.message && <p>{errors.message}</p>}
</form>
