---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Hacemos la burocracia más simple" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Somos una empresa de <span class="text-primary">automatización</span> de trámites legales.
    <div> 
      <h1 class="text-center"><b>Consigue tu cita previa, sin cobro por adelantado.<br>Busca tu cita aquí:</b></h1>
    </div>
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="/registro"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="paper-add" class="h-8" />
      <span>Buscar cita</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="login" class="h-8" />
      <span>Estado busqueda</span>
    </a>
  </div>
</ContentSection>
