---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Rapido",
    description:
      "Sistema de búsqueda totalmente automatizado las 24h del día. En todo momento te estamos buscando tu cita, para que seas el primero en cosneguirla en el momento en que esté disponible.",
    icon: "mdi:thunder",
  },
  {
    title: "Legal",
    description:
      "Servicio totalmente seguro y legal. Tu cita previa está a tu nombre cumpliendo las normativas de la administración pública. Sacacitas no se dedica a la reventa, únicamente te ofrecemos una herramienta para simplificarte la búsqueda.",
    icon: "mdi:legal",
  },
  {
    title: "Personalizado",
    description:
      "Gracias a nuestro avanzado sistema, somos capaces de ofrecerte una búsqueda a tu medida, según la localidad, tipo de trámite y fechas que mejor te convengan.",
    icon: "mdi:directions-fork",
  },
];
---

<ContentSection title="Tecnología" id="features">
  <Fragment slot="lead">
    Sistema avanzado de búsqueda que te permite <span class="text-primary">conseguir tu cita previa</span> 
    lo más rápido posible.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
